@page

@model IndexModel

@{

    ViewData["Title"] = "Home page";

}



<div class="text-center">

    <h4 class="display-4">Welcome</h4>

    <h4 class="display-4">to</h4>

    <h4 class="display-4">Prime Number</h4>

    <h4 class="display-4">Services</h4>

</div>

